<!DOCTYPE html>

<html lang="fr">
    <!--header-->
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link href="styles/myreadings.css" rel="stylesheet">

        <title>
            Ponedelnik
        </title>
        <div class="webtitle">
            <h1>PONEDELNIK</h1>
        </div>
        
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    </head>

    <body>
        <!--Navigation bar-->
        <nav>
            <ul>
                <li class="navlink"><a href="">Ponedelnik</a></li>
                <li class="navlink"><a href="">Mes lectures</a></li>
                <li class="navlink"><a href="">Avis</a></li>
                <li class="navlink"><a href="">Podcasts</a></li>
                <li class="navlink"><a href="">Evènements</a></li>
                <li class="navlink"><a href="">A propos</a></li>
                <li class="navlink"><a href="">Contact</a></li>
            </ul>
        </nav>

        <main>
            <div class="bookList">
                <div class="grid-header title notside">Titre</div>
                <div class="grid-header author notside">Auteur</div>
                <div class="grid-header type notside">Type</div>
                <div class="grid-header edition notside">Editions</div>
                <div class="grid-header status notside">Statut</div>
                <div class="grid-header dateBegin notside">Début</div>
                <div class="grid-header dateEnd notside">Fin</div>
                <div class="grid-header price">Prix</div>
            </div>
            <div class="bookList">
                <div class="grid-header title notside">Les enfants de minuit</div>
                <div class="grid-header author notside">Salman Rushdie</div>
                <div class="grid-header type notside">Roman</div>
                <div class="grid-header edition notside">Actes Sud Editions</div>
                <div class="grid-header status notside">A lire</div>
                <div class="grid-header dateBegin notside">01/01/2025</div>
                <div class="grid-header dateEnd notside">31/01/2025</div>
                <div class="grid-header price">12.5</div>
            </div>
            <div class="bookList">
                <div class="grid-header title notside">Icare</div>
                <div class="grid-header author notside">Jirô Taniguchi</div>
                <div class="grid-header type notside">Manga</div>
                <div class="grid-header edition notside">Made In</div>
                <div class="grid-header status notside">Terminé</div>
                <div class="grid-header dateBegin notside">01/08/2025</div>
                <div class="grid-header dateEnd notside">02/08/2025</div>
                <div class="grid-header price">10.0</div>
            </div>
            <div class="bookList">
                <div class="grid-header title notside">La Métamorphone</div>
                <div class="grid-header author notside">Franz Kafka</div>
                <div class="grid-header type notside">Roman</div>
                <div class="grid-header edition notside">Folio</div>
                <div class="grid-header status notside">En cours</div>
                <div class="grid-header dateBegin notside">01/07/2025</div>
                <div class="grid-header dateEnd notside"></div>
                <div class="grid-header price">8.0</div>
            </div>
        </main>
    </body>
</html>