body {
    background-color: rgb(255, 248, 234) ;
    margin: 0;
}

main {
    margin: 35px 120px;
}

.webtitle {
    display: flex;
    width: 100%;
    height: 42px; /* à ajuster*/
    align-items: center;
    justify-content: center;
    background-color: rgb(255,255,255);
    /*border: solid 1px red;*/ /* à ajuster*/
    letter-spacing: 3px;
}

h1 {
    font-size: 28px;
}

nav {
    display: flex;
    height: 30px;
    align-items: center;
    justify-content: center;
    border-top: 1px gray solid;
    border-bottom: 1px gray solid;
    margin: 0px;
    background-color: rgb(255,255,255);
}

.navlink {
    display: inline-block;
}

.navlink a {
    text-decoration: none;
}

ul {
    margin: 0px;
    padding: 0px;
}

li {
    margin: 0px 10px;
    padding: 0px;
}



.main_article {
    display: flex;
    flex-direction: column;
    border: 1px solid red;
    border-radius: 8px;
    margin-bottom: 20px;
    padding-left: 25px;
    height: 250px;
    background-color: rgb(255,255,255);
}

.main_title {
    font-family: "Merriweather", serif;
    font-optical-sizing: auto;
    font-size: 38px;
    font-weight: 300;
    font-style: italic;
    font-variation-settings:
      "wdth" 100;
    margin-bottom: 5px;
}

.main_subtitle {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: x-large;
    margin-top: 0px;
    margin-bottom: 0px;
}

.keep_reading {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: large;
    text-decoration: underline;
    margin-top: 20px;
    margin-bottom: 0px;
    color: black;
}

.minor_article {
    display: flex;
    border-radius: 8px;
    height: 172px;
    gap : 25px
}

.m1_article {
    display: flex;
    flex-direction: column;
    background-color: rgb(255,255,255);
    border: 2px solid blue;
    border-radius: 8px;
    padding: 10px;
    width: 50%;

}

.m2_article {
    background-color: rgb(255,255,255);
    border: 2px solid green;
    border-radius: 8px;
    padding: 10px;
    width: 50%;
}

.m3_article {
    background-color: rgb(255,255,255);
    border: 2px solid orange;
    border-radius: 8px;
    padding: 10px;
    width: 50%;
}

.minor_title {
    font-family: "Merriweather", serif;
    font-optical-sizing: auto;
    font-size: 24px;
    font-weight: 300;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
    margin-bottom: 5px;
}

.minor_subtitle {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-top: 0px;
    margin-bottom: 0px;
}

.minor_date {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: small;
    margin-top: 0px;
    margin-bottom: 0px;
}

.pressed {
    background-color: grey;
  }