body {
    background-color: rgb(255, 248, 234) ;
    margin: 0;
}

main {
    margin: 35px 120px;
}

.webtitle {
    display: flex;
    width: 100%;
    height: 42px; /* à ajuster*/
    align-items: center;
    justify-content: center;
    background-color: rgb(255,255,255);
    /*border: solid 1px red;*/ /* à ajuster*/
    letter-spacing: 3px;
}

h1 {
    font-size: 28px;
}

nav {
    display: flex;
    height: 30px;
    align-items: center;
    justify-content: center;
    border-top: 1px gray solid;
    border-bottom: 1px gray solid;
    margin: 0px;
    background-color: rgb(255,255,255);
}

.navlink {
    display: inline-block;
}

.navlink a {
    text-decoration: none;
}

li {
    margin: 0px 10px;
}

.bookList {
    display: grid;
    grid-template-rows: 32px;
    grid-template-columns: 350px 220px 160px 180px 120px 105px 105px auto;
}

.grid-header {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 550;
    font-size: 14px;
    border-bottom: 1px solid grey;
    align-items: center;
    justify-content: left;
    padding-left: 10px;
}

.notside {
    border-right: 1px solid gray;
}

.bookAdd {
    display: grid;
    grid-template-rows: 32px;
    grid-template-columns: 350px auto;
}

.grid-total {
    display: flex;
    color: gray;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 550;
    font-size: 14px;
    border-bottom: 1px solid grey;
    align-items: center;
    justify-content: right;
    padding-left: 10px;
}

.grid-newPage {
    padding: 0px;
    margin-left: 0px;
    display: flex;
    color: gray;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 550;
    font-size: 14px;
    border-bottom: 1px solid grey;
    align-items: center;
    justify-content: left;
    padding-left: 10px;
}

.icon {
    color: gray;
    border: 2px solid grey;
    border-radius: 50%;
    margin-right: 5px;
}

button {
    padding: 0px;
    margin-left: 0px;
    margin-top: 2px;
    background-color: transparent;
    border: none; 
    cursor: pointer;
    outline: none;
    overflow: hidden;
}

.grid-header input {
    width: 100%;
    box-sizing: border-box;
    font-size: inherit;
    font-family: inherit;
    padding-left: 2px;
}

input {
    padding: 0px;
    margin-left: 0px;
    margin-top: 2px;
    background-color: transparent;
    border: none; 
    outline: none;
    overflow: hidden;
}

.bookForm {
    display: grid;
    grid-template-rows: 32px;
    grid-auto-rows: 32px;
    grid-template-columns: 350px 220px 160px 180px 120px 105px 105px auto;
}

.final {
    grid-column: 1 / -1;
}